*{
  margin: 0;
}

body{
  background-color: #141414;
  color: #e6e6e6;
  font-family: Nunito;
}

h1{
  color: #ff0082;
  font-size: 3rem;
  text-align: center;
}

#calc {
  height: 50%;
  width: 70%;
  display: grid;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
  border-radius: 25px;
  background-color: #1e1e1e;
  box-shadow: 1px 1px 5px #000000;
  font-size: 1rem;
  line-height: 4rem;
}

h2{
  font-size: 2rem;
}

input{
  height: 2rem;
  border-radius: 25px;
  border: none;
  box-shadow: 1px 1px 2px #000000;
  background-color: #464646;
  color: #e6e6e6;
  font-size: 1.2rem;
  text-align: center;
  padding: 2px;
}

#Calcular{
  height: 3rem;
  width: 20%;
  border-radius: 30px;
  border: none;
  background-color: #ff0082;
  font-size: 1.7rem;
  color: #e6e6e6;
}

#QuantBTC{
  font-size: 2rem;
}

#CopyBTC{
  background: rgba(255, 0, 0, 0);
  border: none;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
}

footer > a {
  text-decoration: none;
  color: #ff0082;
}